<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FGIS_Arshin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FGIS_Arshin.Properties.Settings>
            <setting name="year" serializeAs="String">
                <value />
            </setting>
            <setting name="orgtitle_val" serializeAs="String">
                <value />
            </setting>
            <setting name="orgtitle_on" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mitnumber_val" serializeAs="String">
                <value />
            </setting>
            <setting name="mitnumber_on" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mittitle_val" serializeAs="String">
                <value />
            </setting>
            <setting name="mittitle_on" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mitnotation_val" serializeAs="String">
                <value />
            </setting>
            <setting name="mitnotation_on" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mimodification_val" serializeAs="String">
                <value />
            </setting>
            <setting name="mimodification_on" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minumber_val" serializeAs="String">
                <value />
            </setting>
            <setting name="minumber_on" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="verificationstart" serializeAs="String">
                <value />
            </setting>
            <setting name="verificationend" serializeAs="String">
                <value />
            </setting>
            <setting name="validstart" serializeAs="String">
                <value />
            </setting>
            <setting name="validend" serializeAs="String">
                <value />
            </setting>
            <setting name="docnum_val" serializeAs="String">
                <value />
            </setting>
            <setting name="docnum_on" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sticker_val" serializeAs="String">
                <value />
            </setting>
            <setting name="sticker_on" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="applicability" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sortby" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sorted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rows" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="pause" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="tries" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="field1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="field2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="field3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="field4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="field5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="field6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="field7" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="field8" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="field9" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="field10" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="field11" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="unload" serializeAs="String">
                <value />
            </setting>
        </FGIS_Arshin.Properties.Settings>
    </userSettings>
</configuration>